.Login {
  padding: 15vh 20px;
  text-align: center;
  min-height: 100vh;
  background-color: #fff;
}

@media screen and (min-width: 769px) {
  .Login {
    padding: 10vh 0;
  }
}

.Login-container {
  text-align: left;
  width: 380px;
  margin: 0 auto;
}

.Login-logo {
  display: block;
  font-family: 'Allerta Stencil', sans-serif;
  height: 48px;
  color: #24262d;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  margin-bottom: 50px;
}

@media screen and (min-width: 769px) {
}

.Login h3 {
  color: #1C2023;
}

.Login .register-text {
  text-align: center;
}

.Login .register {
  margin-top: 20px;
  border-top: 1px solid #E6EDF4;
}

.Login .social {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  text-align: left;
  line-height: 36px;
  width: 100%;
  margin-bottom: 5px;
}

.Login .social i {
  width: 36px;
  margin-right: 10px;
  padding: 6px 0;
  text-align: center;
  border-right: 1px solid rgba(255,255,255,0.1);
}

.Login .social.github {
  background: #333;
}

.Login .social.bitbucket {
  background: #0C7CD5;
}

.Login .social.gitlab {
  background: #694EB8;
}

.Login .separator {
  border-bottom: 1px solid #E6EDF4;
  text-align: center;
  margin: 10px auto 30px auto;
  height: 20px;
  width: 50%;
}

.Login .separator .text {
  background-color: #fff;
  position: relative;
  top: 10px;
  padding: 0 10px;
  color: #1C2023;
  line-height: 20px;
}

.Login .remember {
  margin: 10px 0;
  font-size: 0.8rem;
  display: inline-block;
}

.Login .wl-input[type="submit"] {
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
}

.Login .menu-btn {
  font-size: 0.8rem;
  width: 50%;
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 1px solid #E6EDF4;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #7E899B;
}

.Login .menu-btn.active {
  color: #333;
  border-bottom: 1px solid #333;
  font-weight: 700;
}
