.Navbar {
  position: fixed;
  top: 0;
  min-height: 48px;
  width: 100%;
  background-color: #FFF;
  z-index: 300;
  border-bottom: 1px solid #f9f9f9;
  height: 48px;
  line-height: 48px;
}

.Navbar-logo {
  float: left;
  clear: both;
  display: block;
  font-family: 'Allerta Stencil', sans-serif;
  width: 48px;
  height: 48px;
  color: #24262d;
  text-align: center;
  font-size: 1.4em;
  text-decoration: none;
}

.Navbar-title {
  width: 200px;
  left: 50%;
  margin-left: -148px;
  position: relative;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
  display: inline-block;
}

.Navbar-right {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 0.9rem;
  color: #24262d;
}

.Navbar-right li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 14px 0 0;
  list-style-type: none;
  cursor: pointer;
}

.Navbar .down {
  font-size: 0.6rem;
  line-height: 48px;
  padding-left: 5px;
}

.Navbar .usermenu {
  cursor: pointer;
}

.Navbar .dropdown-menu {
  position: fixed;
  top: 47px;
  right: 5px;
  background-color: #FFF;
  color: #999;
  min-width: 50px;
  min-height: 36px;
  padding: 0 10px;
  line-height: 36px;
  z-index: 400;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid #e6edf4;
  transition: opacity .4s ease,left .4s ease;
  box-shadow: 0 0 0px rgba(57, 70, 78, 0.15), 0 10px 30px -12px rgba(57, 70, 78, 0.25);
}

.Navbar .dropdown-menu:before {
  content: "";
  position: absolute;
  top: 0;
  background: #ffffff;
  right: 0;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-right: 24px;
  border: 1px solid transparent;
  border-top-color: #e6edf4;
  border-left-color: #e6edf4;
  transform: rotate(45deg);
  z-index: 200;
}

.Navbar .dropdown-menu li {
  display: block;
}

.Navbar .dropdown-menu li:hover {
  color: #222;
}

.Navbar .dropdown-menu li i {
  padding-right: 5px;
}

.Navbar .notifications {
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  height: 100vh;
  padding: 48px 0 0 0;
  transform: translateX(260px);
  transition: transform .4s ease;
  pointer-events: none;
  color: #7E899B;
}

.Navbar .notifications.active {
  transform: translateX(0);
}

.Navbar .notifications-wrapper {
  pointer-events: all;
  background: #fff;
  height: 100%;
  box-shadow: -4px 0 10px -8px;
  padding: 10px;
}