.Notifier {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  z-index: 200;
}

.Notifier-center {
  width: 380px;
  margin: 0 auto;
}

.Notifier-error {
  color: #FFF;
  background: #E91E63;
  padding: 10px 30px 10px 10px;
  font-size: 0.7rem;
  position: relative;
  margin-bottom: 1px;
}

.Notifier-close {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 10px;
  height: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}