.wl-label {
  display: block;
  width: 200px;
  font-size: 0.8rem;
  color: #7E899B;
  margin-bottom: 3px;
  font-weight: 300;
}

.wl-input {
  display: block;
  width: 100%;
  background: #FFF;
  border: 1px solid #E6EDF4;
  color: #7E899B;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  outline: 0;
}

.wl-input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(0,126,255,.1);
  border: 1px solid #0c7cd5;
}

.wl-input[type="submit"] {
  width: 80px;
  background-color: #0c7cd5;
  color: #fff;
  border: none;
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
}

.wl-input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}
.wl-input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset, inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(0,126,255,.1);
}

.wl-button-secondary {
  display: inline-block;
  padding: 10px 15px;
}

.wl-button-secondary:hover {
  text-decoration: underline;
}

.wl-input-wrapper {
  position: relative;
  width: 100%;
}

.wl-input-wrapper .wl-input {
  padding-left: 46px;
}

.wl-input-icon {
  display: inline-block;
  width: 35px;
  height: 33px;
  line-height: 33px;
  border-right: 1px solid #E6EDF4;
  text-align: center;
  position: absolute;
  left: 1px;
  top: 1px;
  color: #0c7cd5;
}