*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.42857143;
  background: #FFF;
}

a {
  text-decoration: none;
  color: #0c7cd5;
}

table,
tbody {
  display: table;
  width: 100%;
}

.widget {
  padding: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #FFF;
  border: 1px solid #f9f9f9;
  height: 230px;
}

.widget > h1 {
  font-size: 0.8rem;
  color: #222;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 70%;
}

.widget > .toolbar {
  float: right;
  opacity: 0;
  transition: opacity .2s linear;
  font-size: 0.7rem;
}

.widget:hover > .toolbar {
  opacity: 1;
}

.widget > .toolbar a {
  color: #ccc;
  cursor: pointer;
  width: 15px;
  height: 15px;
  z-index: 2;
  margin-left: 10px;
}

.widget > .toolbar a:hover {
  color: #222;
}

.widget > .body {
  padding-top: 5px;
}

.w-1 {
  width: 8.33%;
  vertical-align: top;
  display: inline-block;
}

.w-2 {
  width: 16.66%;
  vertical-align: top;
  display: inline-block;
}

.w-3 {
  width: 25.0%;
  vertical-align: top;
  display: inline-block;
}

.w-4 {
  width: 33.33%;
  vertical-align: top;
  display: inline-block;
}

.w-5 {
  width: 41.66%;
  vertical-align: top;
  display: inline-block;
}

.w-6 {
  width: 50.0%;
  vertical-align: top;
  display: inline-block;
}

.w-7 {
  width: 58.33%;
  vertical-align: top;
  display: inline-block;
}

.w-8 {
  width: 66.66%;
  vertical-align: top;
  display: inline-block;
}

.w-9 {
  width: 75.0%;
  vertical-align: top;
  display: inline-block;
}

.w-10 {
  width: 83.33%;
  vertical-align: top;
  display: inline-block;
}

.w-11 {
  width: 91.66%;
  vertical-align: top;
  display: inline-block;
}

.w-12 {
  width: 100%;
  vertical-align: top;
  display: inline-block;
}

@media (max-device-width: 768px) {
  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6,
  .w-7,
  .w-8,
  .w-9,
  .w-10,
  .w-11,
  .w-12 {
    width: 100%;
  }
}

.wl-label {
  display: block;
  width: 200px;
  font-size: 0.8rem;
  color: #7E899B;
  margin-bottom: 3px;
  font-weight: 300;
}

.wl-input {
  display: block;
  width: 100%;
  background: #FFF;
  border: 1px solid #E6EDF4;
  color: #7E899B;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  outline: 0;
}

.wl-input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(0,126,255,.1);
  border: 1px solid #0c7cd5;
}

.wl-input[type="submit"] {
  width: 80px;
  background-color: #0c7cd5;
  color: #fff;
  border: none;
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
}

.wl-input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}
.wl-input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset, inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(0,126,255,.1);
}

.wl-button-secondary {
  display: inline-block;
  padding: 10px 15px;
}

.wl-button-secondary:hover {
  text-decoration: underline;
}
